    <div class="container">
        <h1 class="logo large">BOOKMARKER</h1>
        <form class="form" action="/posts/index" method="get">
            <div class="forceColor"></div>
            <div class="form_row_email">  
                <div class="spanColor" style="height:41px;"></div>
                <input type="email" class="input" name="mememail" placeholder="Email">
                <input type="password" class="input" name="mempwd" placeholder="Password">
            </div>
            <button class="submit" type="submit">Login</button>
            <a href="/users/sign_up"><button class="sign_up" id="sign_up">Signup</button></a>
        </form>
    </div>




