html {
  background:url(bg.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.logo{
    display: flex;
    margin-top: 200px;
    justify-content: center;
    color: rgb(242, 242, 242);
    font-family: Raleway;
    font-size: 40px
}

#new_user{
    margin: 0 auto;

    position: fixed;
    top: 35%;
    left: 50%;

    -moz-transform: translate3d(-50%, 0, 0);
    -ms-transform: translate3d(-50%, 0, 0);
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
    width: 350px;
    padding: 20px;
    overflow: hidden;
    background-color: black;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background: inherit;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    font-family: Raleway;
}

#new_user:before {
    content: "";
    width: 110%;
    height: 110%;
    position: absolute;
    background: inherit;

    left: -5%;
    right: 0;
    bottom: 0;
    top: -5%;

    filter: blur(3px);
}

#new_user .forceColor{
    width: 100%;
    height: 100%;

    position: absolute;
    left: 0;
    top: 0;

    background-color: rgba(0, 0, 0, 0.4);
}

#new_user .form_raw_email .spanColor{

    position: absolute;
    width: 0px;
    right: 20px;
    height: 43px;

    opacity: 0.2;
    background-color: white;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    transition: width 150ms ease-in-out, background-color 150ms ease-in-out 250ms, border 150ms ease-in-out 250ms;
}

#new_user .form_row_email .input{
    display: block;
    width: 100%;
    position: relative;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    font-size: 1rem;
    background: transparent;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    border-left: 1px solid rgba(255, 255, 255, 0.4);
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    border-right: 1px solid rgba(255, 255, 255, 0.4);
    margin-bottom: 25px;
    color: rgba(255, 255, 255, 0.4);
    padding: 10px 20px;
    font-family: Raleway;
}

#new_user .btn{
    padding: 10px 20px;
    width: 100%;
    font-size: 1.2rem;
    font-family: Raleway;
    font-weight: 200;
    display: block;
    color: white;
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.4);
    background: rgba(255, 255, 255, 0.5);
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    cursor: pointer;
    text-align: center;
}

#new_user .sign_up{
    margin-top: 10px;
}
