$('#savePanel').on('click', function() {
    var canvas = $('.board-canvas');
    var panel = $('.panel-add');
    var panelTitle = $('#panelTitle');
    var createPanelTemplate = function(title, color) {
        return '<div class="panel-wrapped">\
                    <div class="panel" style="background-color:' + color + '">\
                        <h2 class="panel-title">' + title + '</h2>\
                        <div class="panel-menu">\
                            <button class="addfolder js-add-card">Add a folder</button>\
                            <div class="add-card-form" style="display: none">\
                                <input type="text" name="input" class="board-make-input" autocomplete="off" autocorrect="off" spellcheck="false" placeholder=" Add a folder">\
                                <input type="button" value="SAVE" class="save-button js-save-card">\
                                <button class="delete-button"><span class="fa fa-times fa-1x" aria-hidden="true"></span></button>\
                            </div>\
                        </div>\
                        <ul class="card-list">\
                        </ul>\
                    </div>\
                </div>'
    }
