<header class="header">
  <a href="#"><h1 class="brand">BOOKMARKER</h1></a>
  <div class="header-search">
    <input class="header-search-input" type="text" name="search" autocomplete="off" autocorrect="off" spellcheck="false" >
    <span class="header-search-icon fa fa-search fa-lg" style="color:white" aria-hidden="true"></span>
  </div>
  <nav class="gnb">
    <h2 class="sr-only">Menu</h2>
    <ul class="gnb-menu">
      <li><button type="button" class="btn btn-default" href="#"><i class="fa fa-bell fa-lg" style="color:white" aria-hidden="true"></i></button></li>
      <li><button type="button" class="btn btn-default" href="#"><i class="fa fa-cog fa-lg" style="color:white" aria-hidden="true"></i></button></li>
      <li><%= link_to "Sign out", destroy_user_session_path, method: :delete, data: { confirm: "Are you sure?" } %></li>
<!--        <li><a href="#" class="btn-link">CTA</a></li>-->
    </ul>
  </nav>
</header>
<div class="white-bar">
  <ul class="bar-menu">
    <li class="active"><a href="#">멋쟁이사자처럼</a></li>
    <li class="active"><a href="#">?디자인</a></li>
    <li class="active"><a href="#">쇼핑</a></li>
    <li class="active"><a href="#">멋쟁이사자처럼</a></li>
    <li class="active"><a href="#">디자인</a></li>
    <li class="active"><a href="#">쇼핑</a></li>
    <li class="active"><a href="#">디자인</a></li>
    <li class="active"><a href="#">쇼핑</a></li>
  </ul>
</div>
